#cartside {
  width: 8.8vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  border-left: 1px solid rgb(171, 171, 171);
}
#subtotal {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#subtotal > h4 {
  font-size: 13px;
  font-weight: normal;
}
#subtotal > h3 {
  font-size: 15px;
  color: rgb(192, 57, 23);
  display: flex;
  flex-direction: row;
  align-items: center;
}
#free-delivery {
  margin-top: 10px;
}
#free-delivery > h3 {
  font-size: 11px;
  color: rgb(10, 127, 21);
  padding-left: 5px;
}
#free-delivery > h4 {
  font-size: 11px;
  padding-left: 5px;
}
#free-delivery > a {
  font-size: 12px;
  color: rgb(22, 81, 159);
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
#free-delivery > a:hover {
  color: rgb(12, 60, 107);
}
#gotocart {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#cart {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid rgb(164, 164, 164);
  background-color: snow;
  font-size: 12px;
}
#cart:hover {
  cursor: pointer;
}
#cart-products {
  width: 95%;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow: scroll;
}

.cart-product-ctn {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid rgb(195, 195, 195);
}
.cart-product-img {
  width: 90%;
}
.rupeesign {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
}
.cart-product-price {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.product-quantity {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity > select {
  width: 90%;
  height: 20px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
}
.product-quantity > select:hover {
  cursor: pointer;
  background-color: #efeded;
  box-shadow: 0px 0px 1.5px 1.5px rgb(19, 87, 154);
}
.product-delete {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.delete-logo {
  width: 17px;
  height: 17px;
  border: 1px solid rgb(176, 176, 176);
  padding: 3px;
  border-radius: 50%;
}
/* Custom Scrollbar */
#cart-products::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
#cart-products::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px;
}

/* Handle */
#cart-products::-webkit-scrollbar-thumb {
  background: #c3c3c3; /* Color of the handle */
  border-radius: 10px;
}

/* Handle on hover */
#cart-products::-webkit-scrollbar-thumb:hover {
  background: #828282; /* Color of the handle when hovered over */
}

@media screen and (max-width: 1100px) {
  #cartside {
    display: none;
  }
}
